/* You can add custom styles here. */

// @import "plugins/numbered";

body {
    font-family: 'Aptos', sans-serif;
}

h1 {
    color: Red;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 0;
}